.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.blue {
    background: blue;
}

.cornflowerblue-text {
    color: cornflowerblue;
}

.white {
    background: white;
}

.dodgerblue-text {
    color: dodgerblue;
}