.clock {
    margin-left: 5px;
}

.start {
    margin-right: 10px;
}

.time {
    margin-bottom: 21px;
}

.buttonsOnHover {
    margin-top: 21px;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}
